.infoprovider-index-slider-box {
	display: flex;
}
#infoprovider-index-slider.infoprovider-index-slider-box .view-all-link {
	min-width: 200px;
}

#home-wrapcontent {
	min-height: 70vh;
}

.navbar-header .navbar-nav li:hover:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    display: block;
    height: 4px;
    width: 100%;
    background: #264d7a;
    margin: -.95rem 0;
}
.navbar-header .navbar-nav li.active:after {
    bottom: -4px;
}

html body.content .commentWidget h2.section_title {
	text-transform: lowercase;
}

.ttcomponent-coverImageText .esquire .esquire-image-container>div {
	/*background-image: url(/tamtamy/skins/estragon/graphic/vela-logo_azzurro_bucata.svg);*/
	background-image: url(https://tf00-icc-wmp.tamtamyserver.com//tamtamy/skins/estragon/graphic/vela-logo_azzurro_bucata.svg);
    background-size: contain;
}

.timelineWithCover [data-tt-widget-widget="contentList"] > .contents_wrapper {
	display: flex;
	margin: 20px -15px;
}
.timelineWithCover .template-timelineWithCover {
	margin: 0 15px;
}
.timelineWithCover .template-timelineWithCover .internal-pages-medium {
	width: 100%;
	max-width: none;
}

@media (min-width: 1501px) {
	.navbar-header .navbar-nav li.active:after, .navbar-header .navbar-nav li:hover:after {
		bottom: -2px;
	}
}

@media (max-width: 760px) {
	.timelineWithCover [data-tt-widget-widget="contentList"] > .contents_wrapper {
		flex-direction: column;
	}
	.timelineWithCover .template-timelineWithCover {
		margin: 15px 15px;
	}
}